.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: rgba(26, 26, 26, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-surface);
  height: 70px;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.main-header .logo a {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-gold);
  font-family: var(--font-heading);

  text-decoration: none;
}

.main-header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.main-header nav a {
  color: var(--color-text);
  font-family: var(--font-heading);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.main-header nav a:hover {
  background-color: var(--color-primary-red);
  color: white;
  transform: translateY(-2px);
}

.main-header nav a.active {
  color: var(--color-gold);
}

.main-header nav a.active:hover {
  background-color: var(--color-primary-red);
  color: white;
}
